#container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    max-width: 92rem;
}

#utility-column {
    width: 21.5rem;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 1rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-1 {
    flex: 1 1 0%;
}

.border-box {
    box-sizing: border-box;
}

.w-full {
    width: 100%;
}

.w-25 {
    width: 25%;
}

.h-full {
    height: 100%;
}

.text-left {
    text-align: left;
}

.pad {
    padding: 0.75rem 0.5rem;
}

.pad-small {
    padding: 0.5rem 0.35rem;
}

.checked {
    background-color: rgba(95, 186, 255, 0.337) !important;
}

.black {
    background-color: #1a1a1a;
}

.icon {
    width: 1rem;
}

.icon-relative {
    width: 1em;
}

.text-small {
    font-size: 0.85rem;
}

.icon-btn {
    background-color: transparent;
    border: none;
}

.remove-btn:hover {
    color: rgb(255, 75, 75);
}

.about-btn {
    margin-left: auto;
}

.about-btn:hover,
.popup-close-btn:hover {
    color: #646cff;
}

.right {
    right: 0;
}

.popup-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-window {
    position: relative;
    ;
    background: #242424;
    padding: 1rem;
    width: 35rem;
    margin: 1.25rem;
}

.popup-close-btn {
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    font-size: large;
}