#utility-column {
    width: 300px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 1rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-1 {
    flex: 1 1 0%;
}

.border-box {
    box-sizing: border-box;
}

.m-5 {
    margin: 1.25rem;
}

.w-full {
    width: 100%;
}

.w-25 {
    width: 25%;
}

.h-full {
    height: 100%;
}

.text-left {
    text-align: left;
}

.pad {
    padding: 0.75rem 0.5rem;
}

.complete {
    background-color: rgba(191, 255, 95, 0.337);
}

.black {
    background-color: #1a1a1a;
}

.icon {
    width: 1rem;
}

.icon-relative {
    width: 1em;
}

.text-small {
    font-size: 0.75rem;
}